.top-con {
    background-color: black;
    height: 64px;
    min-width: 1200px;
}
.upp{
    margin: auto;
}

.top-info {
    width: 1017px;
    margin: auto;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.my-font {
    font-family: 'Poppins', sans-serif;
}

.mob-con {
    padding-left: -2px;
    display: flex;
    height: 64px;
    align-items: center;
}

.mob-con .icon {
    color: white;
    font-size: 23px;
    padding-right: 6px;
}

.mob-con .content {
    padding-left: 15px;
    padding-right: 15px;
    border-right: solid 1px #ffffff3d;
    min-height: 36px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-left-style: groove;
}

.phone-text {

    font-size: 12px;

    font-weight: 500;

    color: black;
}

.phone-head {
    font-size: 12px;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.mail-con {
    padding-left: 15px;
    display: flex;
    height: 64px;
    align-items: center;
}

.mail-con .icon {
    color: white;
    font-size: 24px;
}

.mail-con .content {
    padding-left: 7px;
    padding-right: 15px;
    border-right: solid 1px #ffffff3d;
    min-height: 36px;
    display: flex;
    align-items: center;
}

.mail-text {}

.top-col1 {

    display: flex;
}

.top-col2 {

    display: flex;

    align-items: center;

    padding-right: 15px;
}
.topp{
   width: auto;
   background-image: url("images/top.jpeg");
   height: 718px;
   
   
   
}
.top-image{
    position: absolute;
    display: flex;
    margin-top: 96px;
    margin-left: -27px;
    font-size: 11px;
}
.logo{
  
    width: 170px;
    margin: auto;
    padding-top: 65px;
}
.content{
    padding-left: 28px;
    text-align: center;
}
.service-con {
    /* background-color: #1e1e1e; */
   
    height: 64px;
    min-width:1200px;
    border-top: solid 1px #ffffff0d;
    border-bottom: solid 1px #ffffff4a;
    
    background-color: white;
    margin-top: 65px;
   
    
}

.service-view {
    width: 1200px;
    margin: auto;
    display: flex;
     gap: 20px;
    justify-content: center;
    height: 52px;
    align-items: center;
    position: relative;
   
}

.service-item {
    width: auto;
    cursor: pointer;
    align-items: center;
    height: 52px;
    flex-shrink: 0;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
}

.service-text {
  
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.service-item-text {
    display: flex;
    padding: 7px 10px;
    gap: 5px;
    border-radius: 50px;
}

.service-icon {
    color: black;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.service-item:hover .service-item-text {
    background: #EA6404;
    color: #ffffff;
    transition: ease 1s;
}

.service-item:hover .service-text,
.service-item:hover .service-icon {
    transition: all ease .3s;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.service-more {
    position: absolute;
    top: 51px;
    left: 0;
    width: auto;
    background: white;
    /* padding: 15px; */
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    z-index: 99;
    font-size: 14px;
    color: #545454;
    /* box-shadow: rgb(0 0 0 / 25%) -1px 20px 20px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 0px 15px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; */
    display: none;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 300px;
}

.service-more ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.service-more ul li {
    padding-bottom: 4px;
    padding-top: 5px;
    /* border-bottom: solid 1px #193892b3; */
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 500;
    /* background: #f5f5f56e; */
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    /* border-radius: 11px; */
    transition: ease .3s;
}
.service-more ul li:hover
{
    background-color: #EA6404;
    color: white;
}

.service-more-head {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}

.service-more-text {}

.service-item:hover .service-more {
    display: block;
    transition: all ease .3s;
    animation: serviceslide 1s forwards;
}

@keyframes serviceslide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.caption-1{
   
   
    margin: auto;
    margin-top: 126px;
    width: 760px;
    color: aliceblue;
    text-align: center;
}
.xl-h2 {
    text-align: center;
    color: #1a1a1a;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    border-radius: -12px;
    margin-bottom: 28px;
    width: 1200px;
}
.servies-img{
    margin-left: 44px;
    padding-top: 46px;
}
.wi{
    width: 1200px;
    margin: auto;
}
.serviesss{
    width: 350px;
    height: 557px;
    background-color: white;
    margin-left: 0px;
    border-radius: 15px;
   
    
}
.second{
    background-color:#c9ab51;
    height:1996px;
    width: auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 61px;
    align-content: stretch;
    justify-content: space-around;
}
.services-text{
    text-align: center;
    padding-top: 12px;
    font-size: 26px;
}
.im{
    width: 267px;
    height: 355px;
    object-fit: cover;
}
.cli-con {
    
    /* padding-top: 25px; */
    /* padding-bottom: 60px; */
    height: 300px;
    position: relative;
   
}

.cli-view {width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    gap: 346px;}

.client-items {
    display: flex;
    gap: 23px;
    padding-top: 15px;
    overflow: hidden;
}

.client-item {
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    display: flex;
    background: white;
    border-radius: 25px;
    flex-shrink: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cli-info{
    text-align: center;
    color: wheat;
    font-size: 101px;
}
.cli-count{
    font-size: 33px;
}
.dottt{
    width: 471px;
    height: 295px;
    border: dotted 4px #ECBA41;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: rotate(0deg);
    position: absolute;
    margin-left: 43px;
    margin-top: -160px;
}
.desc-con {
    background-color: #ffffff;
   
}

.desc-view {
    width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    /* display: flex; */
}

.desc-col1 {
    /* width: 50%; */
}

.desc-col2 {
    /* width: 50%; */
    /* padding-left: 76px; */
    display: flex;
    padding-top: 82px;
    overflow: hidden;
}

.desc-h1 {}

h1 {
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
}

.desc-h1 {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.desc-text {
    text-indent: 25px;
    font-size: 14px;
    text-align: justify;
    line-height: 2;
    font-weight: 200;
    
    height: 357px;
    transition: width 2s, height 4s;
    shape-outside: content-box;
}

.desc-image {
    width: 300px !important;
    height: 321px !important;
    position: relative;
    border: solid 3px #efefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.desc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-image2 {
    position: absolute;
    top: -77px;
    left: -100px;
    border: solid 10px white;
}

.readmore {
    font-size: 14px;
    font-weight: 600;
}
.faq-con {
    padding-bottom: 40px;
    position: relative;
    background-color: #EEEEEE;
    border-bottom: solid 1px #dfdfdf;
    margin-top: 590px;
  
}

.faq-view {

    width: 1200px;

    margin: auto;

    display: flex;

    padding-top: 50px;
}

.faq-col1 {
    width: 45%;
    min-height: 400px;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    border-right: solid 5px #193893;
    padding-top: -13px;
    padding-right: 40px;
}

.faq-heead {
    font-size: 33px;
    font-weight: 500;
    color: #193893;
    padding-right: 39px;
}

.faq-col2 {
    width: 100%;
    padding-left: 40px;
    /* padding-top: 51px; */
}

.faq-item {
    margin-bottom: 10px;
    border: solid 1px #d7d7d700;
    padding: 30px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all ease .2s;
}

.faq-item.collapsed {
    margin-bottom: 10px;
    box-shadow: none;
    width: 381px;
    background: #eeeeee;
    border: solid 3px #dfdada;
}

.faq-item-head {

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.faq-item-body {
    font-size: 14px;
    font-weight: 400;
    color: #5a5a5a;
    padding-right: 40px;
    text-align: justify;
    padding-left: 15px;
}

.faq-head-bttn::after {
    content: '-';
}

.faq-head-bttn.collapsed::after {
    content: "+";
}

.faq-head-bttn {
    border: 0;
    background: transparent;
    color: #4c4c4c;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    content: "-";
}

.faq-head-text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.faq-head-text-v1 {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

.leftimage {

    position: absolute;

    width: 500px;

    top: -208px;

    left: -10px;
}

.rightimage {

    position: absolute;

    width: 146px;

    top: -208px;

    right: 0px;
}

.more-faq {
    font-size: 14px;
    color: #000034;
    font-weight: 600;
    text-align: center;

}
.proof-con {
    min-width: 1200px;
    padding-top: 17px;
    padding-bottom: 21px;
    background: #7c7c7c;
}

.proof-view {
    width: 600px;
    margin: auto;
    padding-top: 57px;
    padding-bottom: 24px;
    background: white;
    border-radius: 15px;
    border: solid 1px #6275974a;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 22%) 0px 50px 100px -20px, rgb(0 0 0) 0px 30px 60px -30px;
    margin-top: 92px;
}

.proof-h1 {
    font-size: 19px;
    
    text-align: center;
    font-weight: 500;
}

.proof-h2 {
    text-align: center;
   
    padding-top: 10px;
}

.proof-box {
    width: 400px;
    margin: auto;
    padding-top: 10px;
}

.proof-result {
    color: #ffbb00;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}
.proof-option {width: 600px;margin: auto;display: flex;justify-content: center;align-items: center;}
.proof-text {
    padding-right: 22px;
    color: white;
    font-size: 18px;
}
.proof-bttn-view {
}
.proof-bttn {background: #193893;color: white;font-size: 14px;font-weight: 500;padding-top: 15px;padding-bottom: 15px;border-color: #7c7c7c; padding-left: 15px;padding-right: 15px;border-radius: 10px;width: 100%;cursor: pointer;}
.proof-window
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000c7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}
.proof-content
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.appr-loc-view {
    width: 660px;
   /* margin: auto;
    padding-top: 37px;
    padding-bottom: 25px;*/
}

.appr-loc-items {
    display: flex;
    padding-top: 15px !important;
    gap: 23px;
    overflow: hidden;
}

.appr-loc-item {
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    /* border: solid 1px #72727200; */
    flex-shrink: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.appr-loc-item img {
    width: 100px;
    height: 100px;
}

.appr-loc-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.cli-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.appr-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}
.my-form-group {
    position: relative;
    margin-bottom: 10px;
}

.my-form-input {
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #6275975e;
    width: 100%;
    height: 53px;
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    
    transition: ease .2s;
    color: white;
}

.my-form-input:focus {
    outline: none;
}

.my-label {
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 14px;
    color: #627597;
    transition: all ease .3s;
}

.my-form-mobilize {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 24px;
}

.ag-input:placeholder-shown {}

.my-form-input:not(:placeholder-shown)+.my-label,
.my-form-input:focus+.my-label {
    font-size: 12px;
    top: 4px;
    color: #ababab;
}

.my-bttn-group {
    padding-top: 5px;
}

.my-bttn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #af840d;
    border: none;
    color: white;
    font-weight: 500;
    transition: all ease .3s;
    cursor: pointer;
}

.my-bttn:hover {
    background: #d1a326;
}

.pop-close {
    position: absolute;
    top: 12px;
    right: 11px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    height: 24px;
    transition: ease .2s;
    color: white;
}

.pop-close:hover {
    background: #302f2f80;
    border-radius: 5px;
}

.mobilize-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.projects {
    padding-bottom: 50px;
}

.project {
   
    width: 500px;
    height: 562px;
    margin-left: 72px;
    margin-bottom: 104px;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    padding: 62px;
}

.project-item-content {
 
}

.project-image {
    height: 100%;
    overflow: hidden;
    width: 500px;
    flex-shrink: 0;
}
.d0{
    width: 336px;
    height: 247px;

}

.project-image img {
    height: 100%;
    width: 69%;
    object-fit: cover;
    object-position: center;
    transition: all ease 1s;
}

.project-image:hover img {
    transform: scale(1.5);

}

.project-info {
    width: 100%;
    padding-left: 25px;
    margin-top: 50px;
}

.project-info-head {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #193893;
}

.project-info-text {
    font-size: 16px;
    line-height: 2;
    color: gray;
}
.appr-loc-con {
   
    background-position-x: 298px;
    height: 199px;
    padding-bottom: 3px;
    width: 1200px;
    margin: auto;

    margin-top: 63px;
}

.appr-loc-view {
    width: 1200px;
   /* margin: auto;
    padding-top: 37px;
    padding-bottom: 25px;*/
}

.appr-loc-items {
    display: flex;
    padding-top: 15px !important;
    gap: 23px;
    overflow: hidden;
}

.appr-loc-item {
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    /* border: solid 1px #72727200; */
    flex-shrink: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.appr-loc-item img {
    width: 100px;
    height: 100px;
}

.appr-loc-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.cli-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.appr-pagination {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}
.appr-con {
   
    background-position-x: 298px;
    min-width: 1200px;
    /* height: 199px; */
    background-color: #7c7c7c;
}

.appr-view {
    width: 1200px;
   /* margin: auto;
    padding-top: 188px;
    padding-bottom: 31px;
    /* padding-bottom: 3px; */
    margin: auto;
}

.appr-items {
    display: flex;
    padding-top: 15px;
    gap: 23px;
    overflow: hidden;
    height: 140px;
}

.appr-item {
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    /* border: solid 1px #72727200; */
    flex-shrink: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.appr-item img {
    width: 100px;
    height: 100px;
}
.xl-h1 {

  

    color: black;
 
     font-size: 34px;
 
     font-weight: 600;
     text-align: center;
 }
 .footer-con {

    background: black;

    height: auto;

    padding-bottom: 25px;
}

.footer-view {
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 80px;
    /* justify-content: space-between; */
}

.foot-left-view {
    display: flex;
    gap: 25px;
    flex-shrink: 0;
}

.foot-head-text {
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding-bottom: 15px;
}

.foot-head-text-sm {
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
}

.foot-head-text-sm1 {
    font-size: 14px;
    color: white;
    padding-bottom: 5px;
}
.foot-right-view {
    flex-shrink: 0;
    /* width: 300px; */
    display: flex;
    padding-left: 370px;
    margin-top: -771px;
}
.foot-logo-view
{
    width: 237px;
}
.foot-logo {
    width: 184px;
    margin-right: 201px;
}

.foot-logoimg {}

.soc-items {

    display: flex;

    gap: 16px;

    padding-top: 29px;
}

.soc-item {
    font-size: 30px;
    color: white;
}
.mail-window {
    width: 250px;
    height: 279px;
    /* position: fixed; */
    /* background: white; */
    right: 3px;
    bottom: 0px;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 15px;
}

.mail-head {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 15px;
    color: white;
}

.mail-row {
    margin-bottom: 5px;
}

.mail-input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ffffffc2;
    font-size: 14px;
    padding: 8px;
    background: transparent;
}
.mail-input::placeholder
{
    color: rgb(233, 233, 233);
}
.mail-bttn {
    border: none;
    background: #091a42;
    width: 100%;
    color: white;
    padding: 5px;
    border-radius: 5px;
}



 
 

